.button {
  padding: 10px 20px;

  cursor: pointer;
  transition: background-color 0.3s;

  color: #ffffff;
  border: none;
  border-radius: $border-radius-default;
  background-color: #000000;

  &:hover {
    background-color: #4d4d4d;
  }

  &:disabled,
  &:hover:disabled {
    cursor: no-drop;

    color: #8e8e8e;
    background-color: #565656;
  }

  &--primary {
    background-color: #1e68a3;

    &:hover {
      background-color: #3b81ba;
    }
  }

  &--danger {
    background-color: #ff5132;

    &:hover {
      background-color: #ff694e;
    }
  }

  &--icon {
    padding: 0;

    background: none;

    &:hover {
      background-color: transparent;
    }

    &:disabled,
    &:hover:disabled {
      color: #8e8e8e;
      background-color: transparent;
    }
  }
}
