$layot-min-width: 360px;

// Colors
$background-default: #33363d;

// Font
$font-family-default: "Montserrat", sans-serif;
$font-size-default: 16px;
$font-weight-default: 400;

// Border
$border-radius-default: 4px;
