.signup-content,
.signin-content {
  width: 300px;
  margin: 0px auto;
}

.signin-form,
.signup-form {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 15px;
  }
}

.auth-errors {
  margin-bottom: 15px;

  &__message {
    color: #ff5e5e;

    font-size: 0.9em;
  }
}
